<ol class="breadcrumb">
    <li>
        <a href="#!/">Início</a>
    </li>
    <li>
        <a href="#!/atividades">Atividades</a>
    </li>
    <li>
        <a href="#!/portugues">Português</a>
    </li>
    <li>
        <a href="#!/portugues/atividade01">Soletrando</a>
    </li>
</ol>

<div class="bloco">
    <a href="#!/portugues/atividade01/a">
        <img src="img/game-controller.png" title="Iniciar">
    </a>
    <p><a href="#!/portugues/atividade01/a"> INICIAR</a></p>

    <div class="quadro">
        <div class="linhaCartoes">
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/a">
                    <img src="img/portugues/letter-a.png" title="A">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/a"> Letra A</a>
                </p>
            </div>
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/b">
                    <img src="img/portugues/letter-b.png" title="B">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/b"> Letra B</a>
                </p>
            </div>
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/c">
                    <img src="img/portugues/letter-c.png" title="C">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/c"> Letra C</a>
                </p>
            </div>
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/d">
                    <img src="img/portugues/letter-d.png" title="D">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/d"> Letra D</a>
                </p>
            </div>
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/e">
                    <img src="img/portugues/letter-e.png" title="E">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/e"> Letra E</a>
                </p>
            </div>
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/f">
                    <img src="img/portugues/letter-f.png" title="F">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/f">Letra F</a>
                </p>
            </div>
        </div>

        <div class="linhaCartoes">
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/g">
                    <img src="img/portugues/letter-g.png" title="G">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/g">Letra G</a>
                </p>
            </div>
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/h">
                    <img src="img/portugues/letter-h.png" title="H">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/h">Letra H</a>
                </p>
            </div>
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/i">
                    <img src="img/portugues/letter-i.png" title="I">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/i"> Letra I</a>
                </p>
            </div>
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/j">
                    <img src="img/portugues/letter-j.png" title="j">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/j"> Letra J</a>
                </p>
            </div>
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/k">
                    <img src="img/portugues/letter-k.png" title="K">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/k"> Letra K</a>
                </p>
            </div>
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/l">
                    <img src="img/portugues/letter-l.png" title="L">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/l"> Letra L</a>
                </p>
            </div>
        </div>

        <div class="linhaCartoes">
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/m">
                    <img src="img/portugues/letter-m.png" title="M">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/m"> Letra M</a>
                </p>
            </div>
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/n">
                    <img src="img/portugues/letter-n.png" title="N">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/n"> Letra N</a>
                </p>
            </div>
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/o">
                    <img src="img/portugues/letter-o.png" title="O">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/o"> Letra O</a>
                </p>
            </div>
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/p">
                    <img src="img/portugues/letter-p.png" title="P">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/p"> Letra P</a>
                </p>
            </div>
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/q">
                    <img src="img/portugues/letter-q.png" title="Q">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/q"> Letra Q</a>
                </p>
            </div>
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/r">
                    <img src="img/portugues/letter-r.png" title="R">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/r"> Letra R</a>
                </p>
            </div>
        </div>

        <div class="linhaCartoes">
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/s">
                    <img src="img/portugues/letter-s.png" title="S">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/s"> Letra S</a>
                </p>
            </div>
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/t">
                    <img src="img/portugues/letter-t.png" title="T">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/t"> Letra T</a>
                </p>
            </div>
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/u">
                    <img src="img/portugues/letter-u.png" title="U">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/u"> Letra U</a>
                </p>
            </div>
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/v">
                    <img src="img/portugues/letter-v.png" title="V">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/v"> Letra V</a>
                </p>
            </div>
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/x">
                    <img src="img/portugues/letter-x.png" title="X">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/x"> Letra X</a>
                </p>
            </div>
            <div class="cartaoSexto">
                <a href="#!/portugues/atividade01/z">
                    <img src="img/portugues/letter-z.png" title="Z">
                </a>
                <p>
                    <a href="#!/portugues/atividade01/z"> Letra Z</a>
                </p>
            </div>
        </div>
    </div>


</div>