<ol class="breadcrumb">
    <li>
        <a href="#!/">Início</a>
    </li>
    <li>
        <a href="#!/atividades">Atividades</a>
    </li>
    <li>
        <a href="#!/historia">História</a>
    </li>
    <li>
        <a href="#!/historia/atividade01">Pontos Turísticos de Aquidauana</a>
    </li>
    <li>
        <a href="#!/historia/atividade01/igreja">Igreja Matriz</a>
    </li>
</ol>

<div class="bloco">
    <embed class="areaRA" src="ra/historia/igreja_matriz.html" />
    <audio controls>
        <source class="audio" src="audio/historia/igreja_matriz.mp3" type="audio/mpeg">
    </audio>
</div>