<ol class="breadcrumb">
    <li>
        <a href="#!/">Início</a>
    </li>
    <li>
        <a href="#!/atividades">Atividades</a>
    </li>
    <li>
        <a href="#!/historia">História</a>
    </li>
    <li>
        <a href="#!/historia/atividade01">Pontos Turísticos de Aquidauana</a>
    </li>
</ol>

<div class="bloco">
    <div class="linhaCartoes">

        <div class="cartaoTerco">
            <a href="#!/historia/atividade01/igreja">
                <img src="img/historia/igreja_matriz.png" title="Igreja Matriz">
            </a>
            <p>
                <a href="#!/historia/atividade01/igreja">Igreja Matriz de Aquidauana</a>
            </p>
        </div>

        <div class="cartaoTerco">
            <a href="#!/historia/atividade01/lagoa">
                <img src="img/historia/lagoa.png" title="Lagoa Comprida">
            </a>
            <p>
                <a href="#!/historia/atividade01/lagoa">Parque da Lagoa Comprida</a>
            </p>
        </div>

        <div class="cartaoTerco">
            <a href="pdf/codigos.pdf" download="codigos.pdf">
                <img src="img/pdf.png" title="Arquivo PDF para realização da atividade">
            </a>
            <p>
                <a href="pdf/codigos.pdf" download="codigos.pdf">Baixar códigos</a>
            </p>
        </div>

    </div>
</div>