<ol class="breadcrumb">
    <li>
        <a href="#!/">Início</a>
    </li>
    <li>
        <a href="#!/atividaes">Atividades</a>
    </li>
    <li>
        <a href="#!/historia">História</a>
    </li>
    <li>
        <a href="#!/historia/atividade01">Pontos Turísticos de Aquidauana</a>
    </li>
    <li>
        <a href="#!/historia/atividade01/lagoa">Parque da Lagoa Comprida</a>
    </li>
</ol>

<div class="bloco">
    <embed class="areaRA" src="ra/historia/lagoa.html" />
    <audio class="audio" controls>
        <source src="audio/historia/lagoa.mp3" type="audio/mpeg">
    </audio>
</div>