<ol class="breadcrumb">
    <li>
        <a href="#!/">Início</a>
    </li>
    <li>
        <a href="#!/atividades">Atividades</a>
    </li>
    <li>
        <a href="#!/artes">Artes</a>
    </li>
    <li>
        <a href="#!/artes/atividade01">Jogo da Memória</a>
    </li>
    <li>
        <a href="#!/artes/atividade01/rupestre">Arte Rupestre</a>
    </li>
</ol>

<div onload="GameControl.createGame()">
	<div  id="main" class="main">

	<div id="control">
		<input type="botaoProximo"  class="botaoProximo" value="Reiniciar" onclick="GameControl.createGame()"/> 
	</div>
	<div id="score">
	</div>
	<div id="game">
	</div>
</div></div>