<ol class="breadcrumb">
    <li>
        <a href="#!/">Início</a>
    </li>
    <li>
        <a href="#!/atividades">Atividades</a>
    </li>
    <li>
        <a href="#!/artes">Artes</a>
    </li>
    <li>
        <a href="#!/artes/atividade01">Jogo da Memória</a>
    </li>
</ol>

<br>

<div class="bloco">

    <div class="linhaCartoes">
        <div class="cartaoTerco">
            <a href="#!/artes/atividade01/pintor">
                <img src="img/artes/painter.png" alt="Jogo da Memória - Pintores Brasileiros">
            </a>
            <p>
                <a href="#!/artes/atividade01/pintor">Pintores Brasileiros</a>
            </p>
        </div>

        <div class="cartaoTerco">
            <a href="#!/artes/atividade01/rupestre">
                <img src="img/artes/rock-art.png" alt="Jogo da Memória - Arte Rupestre">
            </a>
            <p>
                <a href="#!/artes/atividade01/rupestre">Arte Rupestre</a>
            </p>
        </div>

        <div class="cartaoTerco">
            <a href="#!/artes/atividade01/gotico">
                <img src="img/artes/gothic.png" alt="Jogo da Memória - Arte Gótica">
            </a>
            <p>
                <a href="#!/artes/atividade01/gotico">Arte Gótica</a>
            </p>
        </div>
    </div>
</div>