<ul class="breadcrumb">
    <li>
        <a href="#!/">Início</a>
    </li>
    <li>
        <a href="#!/atividades">Atividades</a>
    </li>
</ul>

<div class="bloco">
    <div class="quadro">
        <div class="linhaCartoes">
            <div class="cartao">
                <a href="#!/portugues">
                    <img src="img/portugues.png" alt="Português">
                </a>
                <a href="#!/portugues">
                    <p>Português</p>
                </a>
            </div>
            <div class="cartao">
                <a href="#!/matematica">
                    <img src="img/matematica.png" alt="Matemática">
                </a>
                <a href="#!/matematica">
                    <p>Matemática</p>
                </a>
            </div>
            <div class="cartao">
                <a href="#!/historia">
                    <img src="img/historia.png" alt="História">
                </a>
                <a href="#!/historia">
                    <p>História</p>
                </a>
            </div>
            <div class="cartao">
                <a href="#!/artes">
                    <img src="img/artes.png" alt="Artes">
                </a>
                <a href="#!/artes">
                    <p>Artes</p>
                </a>
            </div>
        </div>
    </div>
</div>