<ol class="breadcrumb breadcrumbWebool">
    <li class="breadcrumb-item">
        <a href="#!/">Início</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#!/contato">Contato</a>
    </li>
</ol>

<div class="row">
    <div class="col">
        <h1>Desenvolvedoras</h1>
    </div>
</div>
<br>
<div class="row text-center">
    <div class="col">
        <img class="rounded imagemContato" src="img/jev.jpg">
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <p> Vitória Pereira Rocha (17) e Jéssica Oliveira da Gama (18) são alunas do Instituto Federal de Mato Grossol Do
            Sul, Campus Aquidauana e estão cursando o 7° semestre do Técnico Integrado em Informática, na turma 1025. </p>

        <p>CONTATO</p>
        <p><b>E-mail:</b> <a href="mailto:webooloficial@gmail.com">webooloficial@gmail.com</a> </p>
        <p><b>Endereço:</b> Rua José Tadao Arima, 222 - Vila Ycaraí, Aquidauana - MS, BRAZIL</p>
    </div>
</div>