<div class="bloco">
    <h1>Bem vindo ao WEBOOL !</h1>
    <video class="video" preload="none" poster="img/video_thumbnail.jpg" controls>
        <source src="video/webool_apresentacao.mp4" type="video/mp4">
        O seu browser não suporta exibição de vídeo embarcado
    </video>
    <p>
        Caso queira saber mais a respeito, <a href="#!/sobre">clique aqui</a>.
    </p>
</div>

<div class="bloco">
    <h1>Nosso time</h1>
    <div class="time">
        <div class="membro">
            <img src="img/jessica.jpg" alt="Jéssica Gama">
            <p class="nome">Jéssica Gama</p>
            <p>Desenvolvedora</p>
            <a href="mailto:jessicagama9827@gmail.com">
                <img class="icone" src="img/email_alt.png" alt="E-mail">
            </a>
            <a href="https://www.facebook.com/jessica.gama.773776" target="_blank">
                <img class="icone" src="img/facebook.png" alt="E-mail">
            </a>
        </div>
        <div class="membro">
            <img src="img/vitoria.jpg" alt="Vitória Rocha">
            <p class="nome">Vitória Rocha</p>
            <p>Desenvolvedora</p>
            <a href="mailto:vitoriarocha1206@gmail.com">
                <img class="icone" src="img/email_alt.png" alt="E-mail">
            </a>
            <a href="https://www.facebook.com/vitoria.roch4" target="_blank">
                <img class="icone" src="img/facebook.png" alt="E-mail">
            </a>
        </div>
        <div class="membro">
            <img src="img/sidney.jpg" alt="Sidney Sousa">
            <p class="nome">Sidney Sousa</p>
            <p>Orientador</p>
            <a href="mailto:sidney.sousa@ifms.edu.br">
                <img class="icone" src="img/email_alt.png" alt="E-mail">
            </a>
            <a href="https://www.facebook.com/sidneyrob" target="_blank">
                <img class="icone" src="img/facebook.png" alt="E-mail">
            </a>
        </div>
        <div class="membro">
            <img src="img/veruska.jpg" alt="Veruska França">
            <p class="nome">Veruska França</p>
            <p>Orientadora</p>
            <a href="mailto:veruskarf@hotmail.com">
                <img class="icone" src="img/email_alt.png" alt="E-mail">
            </a>
            <a href="https://www.facebook.com/veve.franca" target="_blank">
                <img class="icone" src="img/facebook.png" alt="E-mail">
            </a>
        </div>
    </div>
</div>