<ul class="breadcrumb">
    <li>
        <a href="#!/">Início</a>
    </li>
    <li>
        <a href="#!/sobre">Sobre</a>
    </li>
</ul>

<div class="bloco">
    <h1>Sobre o WEBOOL</h1>
    <p>
        O WEBOOL é uma plataforma web que tem como propósito oferecer atividades escolares ao público deficiente
        intelectual, como uma forma de estender as práticas de ensino vistas em sala de aula para um ambiente
        digital. O WEBOOL está sendo validado com o auxílio da Associação Pestalozzi de Aquidauana, a qual auxilia
        na elaboração e validação de todas as atividades disponíveis no site.
    </p>
    <p>
        Caso queira saber mais a respeito, você pode baixar um artigo sobre o Webool o qual foi publicado no Computer On
        The Beach
        2018 neste <a href="https://siaiap32.univali.br/seer/index.php/acotb/article/view/12963"
            target="_blank">link</a>.
    </p>

</div>