<ol class="breadcrumb">
    <li>
        <a href="#!/">Início</a>
    </li>
    <li>
        <a href="#!/atividades">Atividades</a>
    </li>
    <li>
        <a href="#!/matematica">Matemática</a>
    </li>
    <li>
        <a href="#!/matematica/atividade01">Formas geométricas</a>
    </li>
    <li>
        <a href="#!/matematica/atividade01/{{formaGeometrica}}">{{ titulo }}</a>
    </li>
</ol>

<div class="bloco">
    <img src="img/matematica/{{ formaGeometrica }}.png" title="{{ titulo }}">
    <h1> {{ titulo }} </h1>
    <audio class="audioAtividade" controls autoplay>
        <source src="audio/matematica/{{ formaGeometrica }}.mp3" type="audio/mpeg">
    </audio>
    <a href="{{ proximo }}">
        <button class="botaoProximo">Próxima figura</button>
    </a>
</div>

<br>