<ol class="breadcrumb">
    <li>
        <a href="#!/">Início</a>
    </li>
    <li>
        <a href="#!/atividades">Atividades</a>
    </li>
    <li>
        <a href="#!/matematica">Matemática</a>
    </li>
    <li>
        <a href="#!/matematica/atividade01">Formas geométricas</a>
    </li>
</ol>

<div class="bloco">
    <div class="quadro">
        <a href="#!/matematica/atividade01/circulo"><img src="img/game-controller.png" title="Iniciar"></a>
        <p>
            <a href="#!/matematica/atividade01/circulo"> INICIAR</a>
        </p>

        <div class="linhaCartoes">
            <div class="cartao">
                <a href="#!/matematica/atividade01/circulo">
                    <img src="img/matematica/formas.png" title="Círculo">
                </a>
                <p>
                    <a href="#!/matematica/atividade01/circulo">Círculo</a>
                </p>
            </div>


            <div class="cartao">
                <a href="#!/matematica/atividade01/quadrado">
                    <img src="img/matematica/formas.png" title="Quadrado">
                </a>
                <p>
                    <a href="#!/matematica/atividade01/quadrado">Quadrado</a>
                </p>
            </div>

            <div class="cartao">
                <a href="#!/matematica/atividade01/retangulo">
                    <img src="img/matematica/formas.png" title="Retângulo">
                </a>
                <p>
                    <a href="#!/matematica/atividade01/retangulo">Retângulo</a>
                </p>
            </div>

            <div class="cartao">
                <a href="#!/matematica/atividade01/triangulo">
                    <img src="img/matematica/formas.png" title="Triângulo">
                </a>
                <p>
                    <a href="#!/matematica/atividade01/triangulo">Triângulo</a>
                </p>
            </div>
        </div>
    </div>
</div>